@import '../../../styles/global/variables';

.container {
  &_global {
    padding: 0 15px;

    @media only screen and (min-width: $tablet) {
      padding: 0 30px;
    }

    @media only screen and (min-width: $desktop-sm) {
      padding: 0 60px;
    }
  }
}
