@font-face {
  font-family: 'oleo-regular';
  src: url('../../public/fonts/OleoScript-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'oleo-bold';
  src: url('../../public/fonts/OleoScript-Bold.ttf');
  font-style: bold;
}
@font-face {
  font-family: 'source-semibold';
  src: url('../../public/fonts/SourceSansPro-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'source-light';
  src: url('../../public/fonts/SourceSansPro-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'source-regular';
  src: url('../../public/fonts/SourceSansPro-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'source-bold';
  src: url('../../public/fonts/SourceSansPro-Bold.ttf');
  font-style: normal;
}
