@import './_variables.scss';

body {
  margin: 0;
}

.highlight-text-main {
  color: $color-main-pink !important;
}

.errorLabel {
  position: relative;
  color: #d0021b;
  margin: auto;
  top: 2px;
}

.errorField {
  border: 1px rgba($color: #d0021b, $alpha: 0.5) solid !important;
  margin-top: 2px;
}

.hightlight-pink {
  margin: 0;
  color: $color-main-pink;
}
#postcode {
  text-transform: uppercase;
}
.signin_prompt {
  text-align: center;
  font-size: 16px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
