// Colours
$color-main-green: #51d6b6;
$color-main-pink: #ff3683;
$color-main-cyan: #6ca1ff;

// Fonts
$oleo-bold: 'oleo-bold';
$oleo-regular: 'oleo-regular';
$source-regular: 'source-regular';
$source-bold: 'source-bold';
$source-semibold: 'source-semibold';
$source-light: 'source-light';

// Breakpoints
$mobile-sm: 520px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop: 1440px;
