@import '../../styles/global/variables';

.container {
  margin: 0 auto;
  &_global {
    padding: 0 20px;

    @media only screen and (min-width: $tablet) {
      padding: 0 60px;
    }

    @media only screen and (min-width: $desktop-sm) {
      padding: 0 180px;
    }
  }
  &_content {
    padding: 0 30px;

    @media only screen and (min-width: $tablet) {
      padding: 0 60px;
    }

    @media only screen and (min-width: $desktop-sm) {
      padding: 0 120px;
    }
  }
  &_content_sm {
    padding: 0 20px;

    @media only screen and (min-width: $tablet) {
      padding: 0 120px;
    }

    @media only screen and (min-width: $desktop-sm) {
      padding: 0 240px;
    }
  }
}
