@import '../../../styles/global/variables';

.component {
  .form_intro,
  .form {
    margin: 0 auto;

    @media only screen and (min-width: $mobile-sm) {
      max-width: 300px;
    }
  }
  .form_intro {
    margin: 60px auto;
  }

  .form {
    position: relative;
    &_intro {
      text-align: center;
      h3 {
        font-size: 24px;
        font-weight: 900;
        margin-block-end: 0;
        margin-block-start: 0;
      }
      p {
        font-size: 20px;
      }
    }

    &_field,
    .form_field_variant {
      margin-bottom: 30px;

      &_variant {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 40px;
        margin-bottom: 10px !important;

        // Find address
        button {
          display: block;
          padding: 10.25px 27px !important;
          margin-top: 0 !important;

          &:disabled {
            background: #ebebeb;
            color: #bbbbbb;

            pointer-events: none;
          }
        }
      }
      label {
        position: relative;
        top: -5px;
        font-size: 14px;
        margin-bottom: 245px;
      }
      input {
        width: calc(100% - 12px);
        padding: 8.25px 5px;
        border-radius: 3px;

        border: 1px rgba($color: #000000, $alpha: 0.5) solid;
        &:hover {
          border: #6ca1ff 1px solid;
        }
      }
    }
    // Sign up
    button {
      padding: 10.25px 76.3px;
      margin-top: 60px;
    }
    .enterAddressManually {
      text-decoration: underline;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      font-size: 16px;
      color: #000000ba;
      margin-top: 0;
    }
    .addressBox {
      border: #979797 1px solid;
      margin-top: 40px;
      border-radius: 3px;
      @media only screen and (min-width: $mobile-sm) {
        position: relative;
        width: 450px;
        left: -75px;
      }

      ul {
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 0;
        overflow-y: scroll;

        li {
          padding: 11px 6px;
          background: #fff;
          cursor: pointer;
          transition: 0.06s;
          font-size: 14px;
          @media only screen and (min-width: $mobile-sm) {
            font-size: 16px;
          }

          &:hover {
            background: #c8c7c7;
          }
        }

        li:nth-child(odd) {
          background: #e9e9e9;

          &:hover {
            background: #c8c7c7;
          }
        }
      }
    }
  }
}
