@import '../../styles/global/variables';

.header {
  font-size: 14px;
  -webkit-box-shadow: -1px 10px 13px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 10px 13px -10px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 10px 13px -10px rgba(0, 0, 0, 0.15);

  @media only screen and (min-width: $tablet) {
    font-size: 18px;
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    padding: 7.5px 0;
    max-width: 1000px;
    margin: 0 auto;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;

    @media only screen and (min-width: $tablet) {
      gap: 8px;
    }

    &_text {
      margin: auto;
      color: black;
    }
  }
  &_menu {
    ul {
      padding-inline-start: 0;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      gap: 15px;
      font-size: 16px;

      @media only screen and (min-width: $tablet) {
        gap: 40px;
      }
      @media only screen and (min-width: $desktop-sm) {
        gap: 60px;
      }

      li {
        white-space: nowrap;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}
